[Unit]
Description=Timer: Stop PACAvanza Market Daemon at 23:00 daily (local time)

[Timer]
OnCalendar=*-*-* 23:00:00
Persistent=true
WakeSystem=true

[Install]
WantedBy=timers.target
