[Unit]
Description=PacAvanza Market Daemon
After=network.target

[Service]
Type=simple
WorkingDirectory=$HOME/path/to/pacavanza
ExecStart=$HOME/path/to/pacavanza/venv/bin/python3 $HOME/path/to/pacavanza/market_daemon.py
Restart=always
Environment=PATH=$HOME/path/to/pacavanza/venv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin
StandardOutput=file:$HOME/path/to/pacavanza/logs/daemon_stdout.log
StandardError=file:$HOME/path/to/pacavanza/logs/daemon_stderr.log

[Install]
WantedBy=default.target
